<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Triamec.Tam.Samples.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Triamec.Tam.Samples.UI.Properties.Settings>
      <setting name="Axes" serializeAs="Xml">
        <value>
          <ArrayOfAxisConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="Repeat" serializeAs="String">
        <value>False</value>
      </setting>
    </Triamec.Tam.Samples.UI.Properties.Settings>
  </userSettings>

  <appSettings>
    <!-- See https://msdn.microsoft.com/en-us/library/ms171868(v=vs.110).aspx#v46 -->
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

</configuration>
